/* color pallette: https://coolors.co/05668d-427aa1-ebf2fa-679436-a5be00 */

html, body, #main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    background-color: #EBF2FA;
}

#calculator {
    height: 400px;
    width: 300px;
    background-color: #427AA1;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 9px 5px 19px -9px rgba(0,0,0,0.59);
}

#screen {
    height: 80px;
    margin: 10px;
    background-color: #EBF2FA;
    border-radius: 10px;
}

#buttons {
    height: 285px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 10px 0 10px;
    column-gap: 10px;
    row-gap: 10px;
}

button {
    height: 100%;
    width: 100%;
    background-color: #A5BE00;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

button, button:active, button:focus {
    border: none;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #679436;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 5;
}